
.navbar{
    display: flex;
    justify-content: space-between;
    padding:2rem;
    position:fixed;
    top:0;
    z-index:2;
    width:100%;
}

.nav-menus{
    display: flex;
    
}

.nav-menu{
    cursor:pointer;
    margin:0 1rem;

}

.nav-menu:hover{
    border-bottom: 1px solid var(--light-gray);
}

.menu-btn{
    display: none;
    cursor:pointer;
    background: transparent;
    border:0;
    font-size:var(--font-sml);
}

aside{
    position:fixed;
    right:-320px;
    width:320px;
}

.back{
    display:none;
    position: fixed;
    inset:0;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(1.5px);
}

/*section*/

section{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.left-content{
    flex-basis: 50%;
    padding:0 7rem;
    border-right:1px solid var(--light-gray);
}

h1{
    font-size:var(--font-large);
}

.desc{
    display: inline-block;
    margin:2rem 0;
    text-align:justify;
    font-family: 'Gothic A1', sans-serif;
}

.tools{
    margin:0.5rem 0;
    display: flex;
    justify-content: space-between;
}

.frontend,.backend{
    border-bottom: 1px solid var(--dark-gray);
}


.right-content{
    flex-basis: 50%;
    padding:0 6rem;
} 

.btns{
    margin-top:2.5rem;
}

.btn{
    padding:0.8rem;
    border-radius:0.4rem;
    color:var(--white);
    font-size:var(--font-xs);
    margin:0 0.3rem;
}

.web{
    background-color: var(--light-red);
    transition:all 0.5s ease;
}

.git{
    background-color: var(--mid-gray);
    transition:all 0.5s ease;
}

.web:hover{
    background-color: var(--dark-red);
}

.git:hover{
    background-color: var(--dark-gray);
}


.right-img{
    transition:transform 0.5s ease;
}

.right-img:hover{
    transform:scale(1.05);
}


@media screen and (max-width:768px){
    .navbar{
        background-color: transparent;
    }

    .menu-btn{
        display: block;
    }

    .nav-menus{
        display: none;
    }

    .back.active{
        display: block;
    }
    
    aside{
        transition: right 0.4s ease;
        background-color: #fff;
        padding:4rem 1.5rem;
        z-index: 4;
        height:100vh;
    }
    aside.active{
        right:0;
    }
    
    aside button.close{
        font-size:var(--font-mid);
        border:0;
        background-color: transparent;
        position:absolute;
        top:0.5rem;
        right:0.5rem;
        padding:0.5rem;
        cursor:pointer;
    }
    
    .aside-menu{
        padding:1rem;
        cursor:pointer;
    }
    
    .aside-menu:hover{
        color:var(--white);
        padding:1rem;
        background-color: var(--mid-gray);
    }

    section{
        flex-direction: column;
    }

    .left-content{
        border-right:none;
        padding:2rem 2rem 0 2rem;
    }

    .right-content{
        padding:0rem;
    } 
    
    .tools{
        display: none;
    }
    
    .right-img{
        width:70%;
        height:70%;
        margin:1rem;
    }

    .btns{
        margin-top:1rem;
    }
    
    h1{
        font-size:var(--font-mid);
    }

    .desc{
        margin:1.5rem 1rem;
    }
    
    
}