
.navbar{
    display: flex;
    justify-content: space-between;
    padding:2rem;
    position:fixed;
    top:0;
    z-index:2;
    width:100%;
    /* background-color: white; */
}

.nav-menus{
    display: flex;
    
}

.nav-menu{
    cursor:pointer;
    margin:0 1rem;

}

.nav-menu:hover{
    border-bottom: 1px solid lightgray;
}

.menu-btn{
    display: none;
    cursor:pointer;
    background: transparent;
    border:0;
    font-size: larger;
}

aside{
    position:fixed;
    right:-320px;
    width:320px;
}

.back{
    display:none;
    position: fixed;
    inset:0;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(1.5px);
}

/*section*/

section{
    min-height:100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    flex: 1;
}

.left-content{
    flex-basis: 50%;
    padding:0 6rem;
    border-right:1px solid lightgray;
}

h1{
    font-size:3rem;
}

h4{
    margin:2rem 0;
    text-align: left;
    font-family: 'Gothic A1', sans-serif;
}

.tools{
    margin:2rem 0;
}

.tools h5:first-child{
    color:rgb(97, 97, 97);
}



.right-content{
    flex-basis: 50%;
} 

.btns{
    margin-top:2.5rem;
}

.btn{
    border:0;
    padding:0.8rem;
    cursor:pointer;
    border-radius:0.4rem;
    color:white;
    font-family: 'M PLUS 2', sans-serif;
    margin:0 0.3rem;
}

.web{
    background-color: rgb(220, 49, 49);
    transition:all 0.5s ease;
}

.git{
    background-color: rgb(68, 67, 67);
    transition:all 0.5s ease;
}

.web:hover{
    background-color: rgb(187, 40, 40);
}

.git:hover{
    background-color: rgb(28, 28, 28);
}

.right-img{
    filter:drop-shadow(3px 3px 3px rgb(190, 190, 190));
    transition:transform 0.5s ease;
}

.right-img:hover{
    transform:scale(1.05);
}


@media screen and (max-width:768px){
    .navbar{
        background-color: transparent;
    }

    .menu-btn{
        display: block;
    }

    .nav-menus{
        display: none;
    }

    .back.active{
        display: block;
    }
    
    aside{
        transition: right 0.4s ease;
        background-color: #fff;
        padding:4rem 1.5rem;
        z-index: 4;
        height:100vh;
    }
    aside.active{
        right:0;
    }
    
    aside button.close{
        font-size:1.5rem;
        border:0;
        background-color: transparent;
        position:absolute;
        top:0.5rem;
        right:0.5rem;
        padding:0.5rem;
        cursor:pointer;
    }
    
    .aside-menu{
        padding:1rem;
        cursor:pointer;
    }
    
    .aside-menu:hover{
        color:white;
        padding:1rem;
        background-color: gray;
    }


    
    section{
        flex-direction: column;
    }

    .left-content{
        border-right:none;
        padding:2.5rem;
    }

    .right-content{
        border-bottom: 1px solid lightgray;
        padding-bottom:4rem;
    }

    .right-img{
        width:85%;
    }
    
}